*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 238, 238);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 30rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
}