@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

:root{
    --clr-darkgrey: #54546d;
    --clr-purple: #9a5dc6;
    --clr-green: #43cf78;
    --clr-blue: #6097c9;
    --clr-darkpurple: #6453bd;
}