@{
    ViewData["Title"] = "Download Products Data";
}

<form asp-controller="Product" asp-action="AllAsTextFile">
    <button type="submit" class="btn btn-primary">Download Products Data</button>
</form>